<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utopsofit.project.portal.code.dao.ComCodeMapper">

    <resultMap id="ComCodeGrpResult" type="com.utopsofit.project.portal.code.domain.ComCodeGrp">
        <id property="grpCd" column="grp_cd"/>
        <result property="grpNm" column="grp_nm"/>
        <result property="grpDesc" column="grp_desc"/>
        <result property="useYn" column="use_yn"/>
        <result property="sortOrd" column="sort_ord"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <resultMap id="ComCodeResult" type="com.utopsofit.project.portal.code.domain.ComCode">
        <id property="grpCd" column="grp_cd"/>
        <id property="code" column="code"/>
        <result property="codeNm" column="code_nm"/>
        <result property="codeDesc" column="code_desc"/>
        <result property="useYn" column="use_yn"/>
        <result property="sortOrd" column="sort_ord"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <!-- 그룹 목록 -->
    <select id="selectCodeGrpList" resultMap="ComCodeGrpResult">
        SELECT grp_cd, grp_nm, grp_desc, use_yn, sort_ord, created_at, created_by, updated_at, updated_by
        FROM tb_com_code_grp
        <where>
            <if test="grpCd != null and grpCd != ''">
                AND grp_cd LIKE CONCAT('%', #{grpCd}, '%')
            </if>
            <if test="grpNm != null and grpNm != ''">
                AND grp_nm LIKE CONCAT('%', #{grpNm}, '%')
            </if>
            <if test="useYn != null and useYn != ''">
                AND use_yn = #{useYn}
            </if>
        </where>
        ORDER BY sort_ord, grp_cd
    </select>

    <select id="countCodeGrpList" resultType="long">
        SELECT COUNT(*) FROM tb_com_code_grp
        <where>
            <if test="grpCd != null and grpCd != ''">
                AND grp_cd LIKE CONCAT('%', #{grpCd}, '%')
            </if>
            <if test="grpNm != null and grpNm != ''">
                AND grp_nm LIKE CONCAT('%', #{grpNm}, '%')
            </if>
            <if test="useYn != null and useYn != ''">
                AND use_yn = #{useYn}
            </if>
        </where>
    </select>

    <select id="selectCodeGrpListPaging" resultMap="ComCodeGrpResult">
        SELECT grp_cd, grp_nm, grp_desc, use_yn, sort_ord, created_at, created_by, updated_at, updated_by
        FROM tb_com_code_grp
        <where>
            <if test="condition.grpCd != null and condition.grpCd != ''">
                AND grp_cd LIKE CONCAT('%', #{condition.grpCd}, '%')
            </if>
            <if test="condition.grpNm != null and condition.grpNm != ''">
                AND grp_nm LIKE CONCAT('%', #{condition.grpNm}, '%')
            </if>
            <if test="condition.useYn != null and condition.useYn != ''">
                AND use_yn = #{condition.useYn}
            </if>
        </where>
        ORDER BY sort_ord, grp_cd
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 그룹 단건 -->
    <select id="selectCodeGrpByPk" resultMap="ComCodeGrpResult">
        SELECT grp_cd, grp_nm, grp_desc, use_yn, sort_ord, created_at, created_by, updated_at, updated_by
        FROM tb_com_code_grp
        WHERE grp_cd = #{grpCd}
    </select>

    <insert id="insertCodeGrp">
        INSERT INTO tb_com_code_grp (grp_cd, grp_nm, grp_desc, use_yn, sort_ord, created_by)
        VALUES (#{grpCd}, #{grpNm}, #{grpDesc}, #{useYn}, #{sortOrd}, #{createdBy})
    </insert>

    <update id="updateCodeGrp">
        UPDATE tb_com_code_grp
        SET grp_nm = #{grpNm}, grp_desc = #{grpDesc}, use_yn = #{useYn}, sort_ord = #{sortOrd}, updated_by = #{updatedBy}
        WHERE grp_cd = #{grpCd}
    </update>

    <delete id="deleteCodeGrp">
        DELETE FROM tb_com_code_grp WHERE grp_cd = #{grpCd}
    </delete>

    <!-- 코드 목록 (그룹별) -->
    <select id="selectCodeListByGrp" resultMap="ComCodeResult">
        SELECT grp_cd, code, code_nm, code_desc, use_yn, sort_ord, attr1, attr2, attr3, created_at, created_by, updated_at, updated_by
        FROM tb_com_code
        WHERE grp_cd = #{grpCd}
        ORDER BY sort_ord, code
    </select>

    <select id="countCodeListByGrp" resultType="long">
        SELECT COUNT(*) FROM tb_com_code WHERE grp_cd = #{grpCd}
    </select>

    <select id="selectCodeListByGrpPaging" resultMap="ComCodeResult">
        SELECT grp_cd, code, code_nm, code_desc, use_yn, sort_ord, attr1, attr2, attr3, created_at, created_by, updated_at, updated_by
        FROM tb_com_code
        WHERE grp_cd = #{grpCd}
        ORDER BY sort_ord, code
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 코드 단건 -->
    <select id="selectCodeByPk" resultMap="ComCodeResult">
        SELECT grp_cd, code, code_nm, code_desc, use_yn, sort_ord, attr1, attr2, attr3, created_at, created_by, updated_at, updated_by
        FROM tb_com_code
        WHERE grp_cd = #{grpCd} AND code = #{code}
    </select>

    <insert id="insertCode">
        INSERT INTO tb_com_code (grp_cd, code, code_nm, code_desc, use_yn, sort_ord, attr1, attr2, attr3, created_by)
        VALUES (#{grpCd}, #{code}, #{codeNm}, #{codeDesc}, #{useYn}, #{sortOrd}, #{attr1}, #{attr2}, #{attr3}, #{createdBy})
    </insert>

    <update id="updateCode">
        UPDATE tb_com_code
        SET code_nm = #{codeNm}, code_desc = #{codeDesc}, use_yn = #{useYn}, sort_ord = #{sortOrd},
            attr1 = #{attr1}, attr2 = #{attr2}, attr3 = #{attr3}, updated_by = #{updatedBy}
        WHERE grp_cd = #{grpCd} AND code = #{code}
    </update>

    <delete id="deleteCode">
        DELETE FROM tb_com_code WHERE grp_cd = #{grpCd} AND code = #{code}
    </delete>
</mapper>
